.style-italic{
  font-style: italic;
}

/* navbar */
.agile-login{
  text-align: right;
}

@media (min-width: 768px){
  .navbar-nav {
    margin: 0;
    margin-left: 20%;
  }
}
@media (min-width: 1074px) and (max-width: 1090px){
  .navbar-nav {
    margin-left: 12%;
  }
}
@media (max-width: 991px){
  .w3ls_logo_products_left1 {
    margin-top: 0;
    width: 33.33%;
  }
}
@media (max-width: 667px){
  .w3ls_logo_products_left1 {
      width: 100%;
      text-align: center;
  }
}
/* navbarend */

/* index */
.carousel-indicators{
  bottom: 1rem;
}
.carousel-indicators li{
  background-color: white;
}

/* register */
.checkbox i{
  bottom : unset;
}
.register h4 {
  margin: 2em 0 0.5em;
  font-size: 1.5em;
  color: #212121;
  text-align: center;
  text-transform: uppercase;
}
.register p {
  font-size: 14px;
  color: #999;
  line-height: 1.8em;
  margin: 0;
  text-align: center;
}
.register p a {
  color: #fe9126;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 .5em;
}
.register p a span {
  top: 0.1em;
  font-size: .7em;
  left: 0.3em;
}

.user{
  color: white;
  text-transform: capitalize;
  background: unset;
}

.mb-4 {
  margin-bottom: 30px !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.weight-bold{
  font-weight: 700 !important;
}

.image{
  height: 12rem !important;
}

.image-sm{
  height: 10rem !important;
}

.image-checkout{
  margin: 0.7rem auto !important;
}

.button-checkout{
	padding:10px 30px;
	color:#fff;
	font-size:1em;
	background:#212121;
  text-decoration:none;
  border: none;
}
.button-checkout:hover{
	background:#fe9126;
}
.button-checkout span {
    right: -.5em;
    top: 0.1em;
    color: white;
}

.button-checkout-none{
	padding:10px 30px;
	color:#fff;
	font-size:1em;
	background:#212121;
  text-decoration:none;
  border: none;
}
.button-checkout-none:hover{
  background:#fe9126; 
	color:#fff;
}
.button-checkout-none span {
    left: -.5em;
    top: 0.1em;
    color: white;
}

.color-white{
  color: white !important;
}